{% extends 'blog/base_blog.html' %}

{% block title %}
{% endblock %}


{% block content %}
    <h1 class="mt-5" >
        {{ post.title }}
    </h1>
    <h4>
        by {{ post.user.username }}
    </h4>
    <p>
        {{ post.body }}
    </p>
<!--    here we need to set some permissions for user. only request.user can view these tags -->
    {% if request.user == post.user or request.user.is_superuser %}
    <a href="{{ post.get_delete_url }}" class="btn btn-light">Delete post</a>
    <a href="{{ post.get_update_url }}" class="btn btn-light">Edit post</a>
    {% endif %}
{% endblock %}