{% load static %}

<!--<style>-->
<!--.hello-msg {-->
<!--    font-size: 18px;-->
<!--    color: #310062;-->
<!--    margin-right: 20px;-->
<!--}-->
<!--</style>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity=
            "sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">POSTS-N-TAGS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'posts_list_url' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login_url' %}">Authorization</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register_url' %}">Registration</a>
          </li>
          <li class="nav-item">
                {% if request.user.is_authenticated %}
              <span class="navbar text">Hello,
                  <span class="badge badge-danger">
                    <a style="font-size:17px;" href="{% url 'profile_url' %}">{{ request.user.username }}</a>
                  </span> |  <a href="{% url 'logout_url' %}">Logout</a>
              </span>
                {% endif %}
          </li>

      </ul>
      <form class="d-flex" action="{% url 'posts_list_url' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6 offset-md-2">
            {% block content %}
                here is no any content
            {% endblock %}
        </div>
    </div>
</div>

{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>
        {% block admin-panel %} {% endblock %}
    </div>
{% endif %}

</body>
</html>